<%-   include('header')   -%>

<form>
    <div class="form-row">
      <div class="col-5">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col-1">
        <input type="Number" class="form-control" placeholder="Cost">
      </div>
      <div class="col-1">
        <input type="Number" class="form-control" placeholder="Stock">
      </div>
      <div class="dropdown col-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">paracetamol</a>
          <a class="dropdown-item" href="#">creams</a>
          <a class="dropdown-item" href="#">antibiotics</a>
          <a class="dropdown-item" href="#">headache</a>
          <a class="dropdown-item" href="#">cough</a>
          <a class="dropdown-item" href="#">fever</a>
        </div>
      </div>
    </div>
</form>
  

<%-   include('footer')   -%>
